<style type="text/css">
    body::after{
        background-image: url('/assets/images/logportal/1.png');
        content: "";
        opacity: 0.5;
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        z-index: -1;
        background-size: cover;  
    }
</style>
<div class="middle-box text-center loginscreen  animated fadeInDown">
    <div>
        <div style="padding-top: 100px;">
            <img src="/assets/img/logoHR.png" style="width: 100%;" />
        </div>
        <h3>Bienvenido a EspacioSeguros Admin</h3>
        <form class="m-t" role="form" action="/user/index">
            <div class="form-group">
                <input type="text" class="form-control" placeholder="RUT" required="">
            </div>
            <div class="form-group">
                <input type="password" class="form-control" placeholder="Password" required="">
            </div>
            <button type="submit" class="btn btn-primary block full-width m-b">Entrar</button>
            <a href="/user/forgot_password"><small>Se te olvidó tu contraseña?</small></a>
        </form>
        <p class="m-t"> <small>Espacio Seguro &copy; 2018</small> </p>
    </div>
</div>